<section class="page-wrapper">
  <section class="about-us" id="about-us">
    <h2 class="about-us__title">Equipo</h2>
    <section class="about-us__text">
      <p>
        En el corazón de España, un grupo excepcional de mujeres programadoras se inspira en la rica herencia española para fusionar tradición e innovación. Nuestros proyectos digitales celebran la vida y demuestran que la creatividad florece en todas partes. Únete a nosotras en este emocionante viaje donde el pasado y el futuro se entrelazan en cada línea de código.
      </p>
      <p>
        Juntas, hemos transformado nuestras vidas y nuestras habilidades para crear un equipo que fusiona la riqueza de la tradición con la potencia de la tecnología. Nuestros proyectos son ofrendas digitales que celebran la vida en todas sus formas, recordándonos que, al igual que el Día de Muertos, la innovación y la creatividad pueden florecer incluso en los lugares más inesperados. ¡Únete a nosotras en este emocionante viaje donde el pasado y el futuro se entrelazan en cada línea de código que escribimos!
      </p>
    </section>
    <div class="diamond"></div>
  </section>
</section>
