<section class="page-wrapper">
  <section class="about-us">
    <h2 class="about-us__title">Equipo</h2>
    <section class="about-us__text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto cum
        accusamus dolorum consequuntur odio maiores laudantium sed placeat
        minima. Itaque optio laboriosam reiciendis, sit animi sapiente similique
        quaerat repudiandae laudantium.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis maiores
        saepe vel illum quae harum unde, quasi mollitia itaque sequi iusto
        voluptate asperiores! Excepturi debitis laudantium accusantium enim,
        minus voluptatibus.
      </p>
    </section>
    <div class="diamond"></div>
  </section>
</section>
