<section class="adalaber-section">
    <h2>Quienes somos</h2>

    <article class="adalaber first-barbara">
        <div class="adalaber-photo"><img src="./assets/images/1.png" alt=""></div>
        <include src="./each.html"
        title="buchy"
        text="Coding is Dead, Long Live Programming! Low code and no code platforms are the talk of the town, but will they hold up in the future?">
        </include>
    </article>

    <article class="adalaber second-daniela">
        <div class="adalaber-photo"><img src="./assets/images/2.png" alt=""></div>
        <include src="./each.html"
        title="Daniela"
        text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
        </include>
    </article>

    <article class="adalaber third-irene">
        <div class="adalaber-photo"><img src="./assets/images/3.png" alt=""></div>
        <include src="./each.html"
        title="Irene"
        text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
        </include>
    </article>

    <article class="adalaber fourth-mireia">
            <div class="adalaber-photo"><img src="./assets/images/4.png" alt=""></div>
            <include src="./each.html"
            title="Mireia"
            text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
            </include>
    </article>

    <article class="adalaber fifth-virginia">
            <div class="adalaber-photo"><img src="./assets/images/5.png" alt=""></div>
            <include src="./each.html"
            title="Virginia"
            text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
            </include>
    </article>


       <!-- 
        <div class="adalaber-photo">
            <img src="./assets/images/1.png" alt="">
        </div>

        <div class="adalaber-name">
            <h3>Barbara</h3>
        </div>

        <div class="adalaber-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?
            </p>
        </div>

        <div class="adalaber-icons">

            <nav class="nav-icons">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="punto">·</li>                    
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        
        </div>
    </article>

    <article class="adalaber second-daniela">

        <div class="adalaber-photo">
            <img src="./assets/images/2.png" alt="">
        </div>

        <div class="adalaber-name">
            <h3>Daniela</h3>
        </div>

        <div class="adalaber-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?
            </p>
        </div>

        <div class="adalaber-icons">
            <nav class="nav-icons">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="punto">·</li>                    
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>

    <article class="adalaber third-irene">

       <div class="adalaber-photo">
            <img src="./assets/images/3.png" alt="">
        </div>

        <div class="adalaber-name">
            <h3>Irene</h3>
        </div>

        <div class="adalaber-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?
            </p>
        </div>

        <div class="adalaber-icons">
            <nav class="nav-icons">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="punto">·</li>                    
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>

    <article class="adalaber fourth-mireia">
        <div class="adalaber-photo">
            <img src="./assets/images/4.png" alt="">
        </div>

        <div class="adalaber-name">
            <h3>Mireia</h3>
        </div>

        <div class="adalaber-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?
            </p>
        </div>

        <div class="adalaber-icons">
            <nav class="nav-icons">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="punto">·</li>                    
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>

    <article class="adalaber fifth-virginia">
        <div class="adalaber-photo">
            <img src="./assets/images/5.png" alt="">
        </div>

        <div class="adalaber-name">
            <h3>Virginia</h3>
        </div>

        <div class="adalaber-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?
            </p>
        </div>

        <div class="adalaber-icons">
            <nav class="nav-icons">
            
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="punto">·</li>                    
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    -->
    </article>
</section> 