<section class="adaSection" id="adalabers-section">
    <h2>Quienes somos</h2>

        <article class="adalaber barbara">
                <include src="./each.html" 
                photo="./assets/images/1.png"
                title="buchy"
                text="Coding is Dead, Long Live Programming! Low code and no code platforms are the talk of the town, but will they hold up in the future?">
                </include>           
        </article>

        <article class="adalaber daniela">
            <include src="./each.html" 
            photo="./assets/images/2.png"
            title="Daniela"
            text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
            </include>
        </article>

        <article class="adalaber irene">
                <include src="./each.html" 
                photo="./assets/images/1.png"
                title="Irene"
                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
                </include>
        </article>

        <article class="adalaber mireia">
                <include src="./each.html"
                photo="./assets/images/4.png"
                title="Mireia"
                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
                </include>
        </article>

        <article class="adalaber virginia">
                <include src="./each.html"
                photo="./assets/images/5.png"
                title="Virginia"
                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus similique dicta, in suscipit dolore! Quasi reprehenderit numquam voluptatibus voluptates a in ut molestiae laudantium est magnam iure, deserunt nostrum?">
                </include>
        </article>    
</section> 