<section class="adaSection">
    <h2>Quienes somos</h2>

        <article class="adalaber barbara">
                <include src="./each.html" 
                photo="./assets/images/1.png"
                title="Bárbara"
                text="Calavera madrileña, radiógrafa y futura programadora y huesooo! Tiene un estilo tan mágico como su capacidad para desaparecer en el código! Es como si estuviera aquí y al mismo tiempo en ¡Más-Allá-buntu!¿Volverá al mundo de los vivos? Hazla flex y aparece a tu lado."
                >
                </include>           
        </article>

        <article class="adalaber daniela">
            <include src="./each.html" 
            photo="./assets/images/2.png"
            title="Daniela"
            text="Daniela Calavera migratoria del sur que se excedió en con el margin bottom y terminó bien al norte, a orillas del Cantábrico.
            De detrás de las cámaras camina a detrás de los códigos. 
            Primera mujer en crear un agujero negro en slack. ">
            </include>
        </article>

        <article class="adalaber irene">
                <include src="./each.html" 
                photo="./assets/images/3.png"
                title="Irene"
                text="Irene, como una chispa en la noche del Día de los Muertos, dejó atrás su vida en el wrestling para enfrentar los desafíos del código. Sus victorias son funciones que conquistan problemas y sus derrotas son solo iteraciones en el camino hacia la perfección.">
                </include>
        </article>

        <article class="adalaber mireia">
                <include src="./each.html"
                photo="./assets/images/4.png"
                title="Mireia"
                text="Mireia, con la creatividad de una calavera adornada, cambió su papel como diseñadora de tartas americanas para abrazar el diseño de interfaces. Sus creaciones son como altares digitales, llenos de colores y detalles que honran la experiencia del usuario. ">
                </include>
        </article>

        <article class="adalaber virginia">
                <include src="./each.html"
                photo="./assets/images/5.png"
                title="Virginia"
                text=" Con la determinación de una calavera con sombrero, cambió su papel como vendedora de flores por el de programadora. Sus líneas de código florecen como crisantemos en noviembre, recordándonos que incluso en el mundo virtual, la belleza perdura y se viste de intensos colores.">
                </include>
        </article>    
</section> 