
    <div class="adaPhoto">
        <img src="@@photo" alt="foto de @@title">
    </div>

    <div class="adaContainer">
        <div class="adaName"><h3>@@title</h3></div>

        <div class="adaText"><p>@@text</p></div>

        <div class="adaIcons">
            <nav class="navIcons">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="punto">·</li>                    
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
                    <li class="punto">·</li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>