<div class="adalaber-name"><h3>@@title</h3></div>

<div class="adalaber-text"><p>@@text</p></div>

<div class="adalaber-icons">
    <nav class="nav-icons">
        <ul>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="punto">·</li>                    
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="punto">·</li>
            <li><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
            <li class="punto">·</li>
            <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </nav>

<!-- <img src="./assets/images/1.png" alt=""> -->