<footer class="footer">
        
    <span class="__copy">Nombre del grupo © 2023</span>

    <nav class="footernav">
        <ul>
            <li class="links"><a class="--footerlink" href="#about-us">Equipo</a></li>
            <li class="links"><a class="--footerlink" href="#adalabers-section">Quiénes somos</a></li>
            <li class="links"><a class="--footerlink" href="./contact.htm">Contacto</a></li>
            
        </ul>    
          
    </nav>            

<div>
    <img class="logoada" src="./assets/images/logo-adalab.png" alt="logo-adalab">
</div>    
</footer>   