<section class="strengths">
  <include
    src="./strengths-element.html"
    title="Fortalezas"
    description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolor quas sit minus iure quasi voluptatum tempora natus, neque esse autem ratione voluptas cum et minima eveniet provident ullam! Saepe.voluptas cum et minima eveniet provident ullam! Saepe"
  >
  </include>
  <include
    src="./strengths-element.html"
    title="Debilidades"
    description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolor quas sit minus iure quasi voluptatum tempora natus, neque esse autem ratione voluptas cum et minima eveniet provident ullam! Saepe voluptas cum et minima eveniet provident ullam! Saepe"
  >
  </include>
</section>
