<section class="strengths">
  <include
    src="./strengths-element.html"
    title="Fortalezas"
    description="Nuestro equipo diverso aborda proyectos integrales en programación, diseño de interfaces y música digital. Valoramos la experiencia del usuario, nos inspiramos en la rica tradición mexicana y mantenemos un enfoque apasionado en la innovación. La resiliencia y el aprendizaje continuo son nuestra filosofía."
  >
  </include>
  <include
    src="./strengths-element.html"
    title="Debilidades"
    description="Nuestro equipo, aunque talentoso, es pequeño, lo que limita la capacidad de abordar varios proyectos grandes simultáneamente. Carecemos de experiencia en proyectos a gran escala y colaboraciones con grandes empresas, pero confiamos en las habilidades técnicas de cada componente."
  >
  </include>
</section>
