/*tablet*/

@media all and (min-width: 768px) {
    .adalaber {
      display: flex;
      flex-direction: row;
      align-items: center;      
      padding-left: 8vw;
      padding-right: 8vw;
    }
    
    .adaContainer {      
      width: 60%;      
      }

    .adaPhoto {
      display: flex;
      justify-content: flex-start;
      width: 18rem;
      height: 18rem;  
    }
    
    /* nombre adalaber*/
    .adaName h3 {
      text-align: left;
      margin-left: 10px;      
    }
    
    /*texto descripcion adalaber*/
   .adaText {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
  }
    
    .adaText p {
      text-align: left;    
    }
    
    /* iconos*/
    .navIcons ul {      
      margin-left: 10px;
      margin-right: 70.5px;
      }
    
    .navIcons {
      display: flex;
      justify-content: left;      
    }

    .daniela, .mireia {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 8vw;
        padding-right: 8vw;
      }
      .daniela h3, .mireia h3 {
        text-align: right;  
        margin-right: 30px;           
      }
      
      .daniela .adaText, .mireia .adaText {
        margin-right: 10px;
        margin-left: 70.5px;        
      }

      .daniela p, .mireia p {
        text-align: right;    
      }
      .daniela .navIcons, .mireia .navIcons {
        display: flex;
        justify-content: right;             
      }
      .daniela .navIcons ul, .mireia .navIcons ul {
        margin-left: 70.5px;
        margin-right: 30px;
        }
  }

  /*desktop*/
   @media all and (min-width: 1200px) {
    .adalaber {
      display: flex;
      flex-direction: row;
      align-items: center;      
      padding-left: 8vw;
      padding-right: 8vw;
    }
    
    .adaContainer {      
      width: 60%;   
      }

    .adaPhoto {
      display: flex;
      justify-content: flex-start;
      width: 18rem;
      height: 18rem;  
    }
    
    /* nombre adalaber*/
    .adaName h3 {
      text-align: left;
      margin-left: 10px;      
    }
    
    /*texto descripcion adalaber*/
   .adaText {
        width: 80%;
        margin-left: 10px;        
        height: fit-content;
    }
    
    .adaText p {
      text-align: left;    
    }
    
    /* iconos*/
    .navIcons ul {      
      margin-left: 10px;
      margin-right: 70.5px;
      }
    
    .navIcons {
      display: flex;
      justify-content: left;      
    }

    .daniela, .mireia {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-left: 8vw;
      padding-right: 8vw;      
    }
    .daniela h3, .mireia h3 {
      text-align: right;  
      margin-right: 30px;           
    }
      
    .daniela .adaText, .mireia .adaText {
      margin-right: 0px;
      margin-left: 100px;
      height: fit-content;           
    }

    .daniela p, .mireia p {
      text-align: right;    
    }
    .daniela .navIicons, .mireia .navIcons {
      display: flex;
      justify-content: right;             
    }
    .daniela .navIcons ul, .mireia .navIcons ul {
      margin-left: 70.5px;
      margin-right: 30px;
    }
    }