
.footer  {
  border-top: solid  $brand-grayscale-two;
   height: 320px;
   
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   align-items: center;
   margin-top: 150px;
  

}


  .__copy {
      color: $brand-grayscale-two;
      font-size: 15px;
      font-family: $font-2;
    }
 
  
    .links {
      list-style: none;
      text-align: center;
      
     
    }
 .--footerlink {

  font-size: 17px;
  color: $brand-grayscale-three;
  opacity: 0.75;
  text-transform: uppercase;
  text-decoration: none;
 }

 .logoada {
  height: 45px;

 }
      
 @media screen and (min-width: 768px) {
   .footer {

   height: 200px;
   flex-direction: row;

   }
.__copy {
  
  position: relative;
  right: 70px;
  bottom: 40px;


}

.logoada {
  position: relative;
  right: 560px;
  top: 55px;
}




.links {
  height: 50px;
 
 position: relative;
 left: 275px;
 top: 40px;
}

 }

 @media (min-width: 1200px) {

  .logoada {
    position: relative;
    right: 800px;

  }
 }
















