header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 88%;

  &__namegroup {
  color:$brand-grayscale-one;
  background-color: $brand-main-color;
  font-family: $font-1;
  font-size: 15px;
  padding: 25px;
  display: flex;
  justify-content: center;
}
& nav-menu {
  background-color: $brand-secondary-color;
  padding: 15px 50px;
  font-size: 15px;
  ;
  &__nav-menu--menu {  list-style: none;
    display: flex;
    justify-content: space-between;
    & a {  
      color: $brand-grayscale-one;
      background-color: $brand-main-color;
      text-decoration: none;
      font-family: $font-1;
      font-size: 20px;
      font-weight: bold;
    }
      }}
}
