:root {
  /* COLORS */
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --brand-main-color: #099d8d; /* blue-green */
  --brand-secondary-color: #14d9c4; /* aqua */
  --brand-grayscale-one: #ffffff; /* white */
  --brand-grayscale-two: #b8b8b9; /* cool-grey */
  --brand-grayscale-three: #54585a; /*  gunmetal*/
  --brand-grayscale-four: #000000; /* black */
  /* FONTS
    Rubik-medium
    Opensans
    OpenSans-Semibold */
  --font-1: "Rubik", sans-serif;
  --font-2: "Open Sans", sans-serif;
  /* FALTAN LAS VARIABLES DE LOS TAMAÑOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-wrapper {
  margin: 0 15px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 85%;
}
.namegroup{
  padding: 25px;
  background-color: var(--brand-main-color);
  color: var(--brand-grayscale-one);
  font-family: Rubik;
  font-size: 16px;

  display: flex;
  justify-content: center;
}
.nav-menu {
  background-color: var(--brand-secondary-color);
  padding: 15px 50px;
  font-size: 15px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu a {
  color: var(--brand-grayscale-one);
  text-decoration: none;
  font-family: Rubik;
  font-size: 15px;
}
.hero-wrap {
  position: relative;
}
.hero {
  height: 500px;
  background-image: url(../images/el-arte-de-coco.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.phrase-s1 {
  padding: 10px;
  width: 80%;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);


  font-family: var(--font-1);
  font-size: 16px;
  background-color: var(--brand-grayscale-one);
  text-align: center;
}
.about-us {
  position: relative; /* añadido para el .end-of-frame */
  padding: 30px 0px;
  text-align: center;
}
.about-us-title {
  margin-bottom: 15px;
  font-family: var(--font-1);
  font-size: 24px;
  text-transform: uppercase;
  color: var(--brand-secondary-color);
}
.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--font-2);
  font-size: 16px;
  color: var(--brand-grayscale-three);
}
.end-of-frame {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)  translateY(50%) rotate(45deg); 
  background-color: var(--brand-grayscale-one) ;
}
.section-strengths-weaknesses {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 30px;
  padding: 1.875rem 0.938rem 2.813rem;
  background-color: rgba(184, 184, 185, 0.2);
}

.article-section-strengths h2 {
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  font-family: var(--font-1);
  color: #099d8d;
}

.article-section-strengths {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strengths-text {
  text-align: center;
  font-family: var(--font-2);
  font-size: 16px;
  line-height: 24px;
  color: var(--brand-grayscale-three);
}

/* titulo seccion adalabers */
.adalaber-section h2 {
  color: var(--brand-main-color);
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  font-family: var(--font-1);
  font-size: 24px;
  line-height: 45px;
}

.adalaber {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* imagen*/
.adalaber-photo img {
  width: 100%;
  border: 5px solid rgb(180, 173, 173);
  border-radius: 15px;
}

.adalaber-photo {
  display: flex;
  width: 180px;
  height: 180px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 40px;
}

/* nombre adalaber*/
.adalaber-name h3 {
  text-align: center;
  margin-left: 72.5px;
  margin-right: 70.5px;
  margin-top: 15px;
  font-family: var(--font-2);
  font-size: 20px;
  line-height: 45px;
}

/*texto descripcion adalaber*/
.adalaber-text {
  margin: 15px;  
}

.adalaber-text p {
  font-size: 16px;
  color: var(--brand-grayscale-three);
  font-family: var(--font-2);
  line-height: 24px;
  text-align: center;
}

/* iconos*/
.nav-icons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.2em;  
}

.nav-icons {
  display: flex;
  justify-content: space-around;  
}

.nav-icons a {
  color: var(--brand-main-color);
}

.punto {
  color: var(--brand-main-color);
  font-size: 20px;
}
/*.dot::after { content: ·; } */ 

/*separar final seccion de principio siguiente*/
.adalaber-section {
  margin-bottom: 45px;
}

footer {
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.menupie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menupie {
  
  margin: 20px 29px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.copy {
  width: 172px;
  height: 20px;
  margin: 20px;
  font-family: OpenSans;
  font-size: 14px;
  color: var(--brand-grayscale-two);
}
.menupie a {
  color: var(--brand-grayscale-two);
  text-decoration: none;
}

.logoada {
  width: 140px;
  
  

}
@media (min-width: 768px){
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 85%;}

  .namegroup{
    width:50%;
    justify-content: flex-start;
  }

  .nav-menu{
    width: 50%;
    height:100%;
    background-color: #099d8d;
    padding:25px;}
  .hero{
    height: 400px;
  }
  .phrase-s1{
    width: 50%;
    height: 30%;
    opacity: 80%;
    left:33%;
    text-align: left;
    font-size: 15px;
    text-transform: bold;
    padding:20px;
    transform: translateX(-50%) translateY(-70%);
  }
 }

@media (min-width: 1280px){
  .namegroup{
    justify-content: center;
  }
  .menu{
   justify-content:center;
   gap:50px;
}
.hero{
  height: 250px; 
   
}
.phrase-s1{
  font: size 50px;}}