@import "core/variables";
@import "core/reset";

.page-wrapper {
  margin: 0 15px;
  @media (min-width: 768px) {
    .page-wrapper {
      margin: 0 45px;
    }
  }
  @media (min-width: 1200px) {
    .page-wrapper {
      margin: 0 138px;
    }
  }
}

@import "layout/about-us";