@import "core/variables";
@import "core/reset";

@import "layout/header";
@import "layout/hero";
@import "layout/about-us";
@import "./layout/strengths";
@import 'layout/adalabers';
@import 'core/mediaQueriesAdalabers';
@import "layout/footer";

.page-wrapper {
  margin: 0 15px;
  @media (min-width: 768px) {
    margin: 0 45px;
  }
  @media (min-width: 1200px) {
    margin: 0 138px;
  }
}