@import 'core/variables';
@import 'core/reset';
@import 'layout/adalabers';

.page-wrapper {
  margin: 0 15px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 88%;
}
h1 {
  padding: 25px;
  background-color: #099d8d;
  color: white;
  font-family: Rubik;
  font-size: 16px;

  display: flex;
  justify-content: center;
}
.nav-menu {
  background-color: aqua;
  padding: 15px 50px;
  font-size: 15px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu a {
  color: white;
  text-decoration: none;
  font-family: Rubik;
  font-size: 15px;
}
.hero-wrap {
  position: relative;
}
.hero {
  height: 500px;
  background-image: url(../images/el-arte-de-coco.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.phrase-s1 {
  padding: 10px;
  width: 80%;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);


  font-family: var(--font-1);
  font-size: 16px;
  background-color: var(--brand-grayscale-one);
  text-align: center;
}
.about-us {
  position: relative; /* añadido para el .end-of-frame */
  padding: 30px 0px;
  text-align: center;
}
.about-us-title {
  margin-bottom: 15px;
  font-family: var(--font-1);
  font-size: 24px;
  text-transform: uppercase;
  color: var(--brand-secondary-color);
}
.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--font-2);
  font-size: 16px;
  color: var(--brand-grayscale-three);
}
.end-of-frame {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)  translateY(50%) rotate(45deg); 
  background-color: var(--brand-grayscale-one) ;
}
.section-strengths-weaknesses {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1.875rem 0.938rem 2.813rem;
  background-color: rgba(184, 184, 185, 0.2);
}

.article-section-strengths h2 {
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  font-family: var(--font-1);
  color: #099d8d;
}

.article-section-strengths {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strengths-text {
  text-align: center;
  font-family: var(--font-2);
  font-size: 16px;
  line-height: 24px;
  color: var(--brand-grayscale-three);
}

footer {
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.menupie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menupie {
  
  margin: 20px 29px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.copy {
  width: 172px;
  height: 20px;
  margin: 20px;
  font-family: OpenSans;
  font-size: 14px;
  color: var(--brand-grayscale-two);
}
.menupie a {
  color: var(--brand-grayscale-two);
  text-decoration: none;
}

.logoada {
  width: 140px;
  
  

}

// Tablet

@media (min-width: 768px) {
  .page-wrapper {
    margin: 0 45px;
    .about-us-title {
    color: var(--brand-main-color);
    }
  }
}

// Desktop

@media (min-width: 1200px) {
  .page-wrapper {
    margin: 0 138px;
  }
  .about-us {
    padding: 45px 0 60px ;
    text-align: center;
  }
  .about-us-text {
    max-width: 600px;
  }
}